@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <h1>UTS Travel Funding System</h1>
        <p>This website is our prototype for the University of Technology Travel Funding System</p>
    </div>
</div>