@{
    ViewBag.Title = "SEP Group";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    
</hgroup>
<div>
    
    <address>
        <i class="icon-envelope"></i><strong>Hosung Choi: 11462379</strong>   <br />
        <i class="icon-envelope"></i><strong>Fristine Flores: 11466846</strong> <br />
        <i class="icon-envelope"></i><strong>Ranjith Kumar: 11684572</strong>   <br />
        <i class="icon-envelope"></i><strong>David Lee: 11055579</strong>   <br />
        <i class="icon-envelope"></i><strong>Benjamin West: 11415902</strong> 
    </address>
</div>